body,div,a,p{
    margin: 0;
    padding: 0;
}
body{
    background-color:#a03939;
    color: #a03939;
}


@media screen and (max-width: 500px) {
    #box {
        width: 300px;
        margin:100px auto 0;
        padding:14px 18px 14px 18px;
        border-radius:4px;
        background-color:#ffffff;
    }

    #box p{
        color: inherit;
        font-family: STKaiti;
        margin:2px 0 12px 0;
    }


    #content{
        font-size: 20px; 
        font-weight: bold;    
    }

    #auther{
        font-size: 18px;
        float:right;
    }

}



@media screen and (min-width: 500px) {
    #box {
        width: 480px;
        margin:200px auto 0;
        padding:40px;
        border-radius:4px;
        background-color:#ffffff;
    }

    #box p{
    color: inherit;
    font-family: STKaiti;
    margin:5px 0 20px 0;
    }


    #content{
        font-size: 26px; 
        font-weight: bold;    
    }

    #auther{
        font-size: 24px;
        float:right;
    }
 
}




.clearfix{
        clear: both;
    }

    #btn3{
        float:right;
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
        padding:7px 10px 7px 10px;
    }

#btn4{
        float:right;
    }


.btn{
        text-decoration: none;
        background-color:#a03939;
        color:#ffffff;
        font-size: 20px;
        border:0;
        border-radius: 4px;
        padding:8px 10px; 
        margin:0 0 0 5px;
} 


#xiaopf{
        display: block;
        width: 200px;
        font-size: 18px; 
        font-family: STKaiti;
        color:#fff;
        text-align: center;
        text-decoration: none;
        margin:15px auto;
}


